/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
BARVY:
šedá na pozadí stránky:		 #b2bec3
červená na hlavní nadpis:  #d63031

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/


body{background-color: #b2bec3;}

h1 {color: #d63031 ;
font-size: 36px;
font-family: bold ;}

.box{border: 7px solid black;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
padding: 30px;
background-color: white;
width: 550px;
}

p {
	padding: 0;
	margin: 0;
    font-size: 18px
}

img{ float: right;
    width: 150px;
    height: 150px;
    margin: 0 0px 0px 0;
    border-radius: 50%;
    border: 3px solid white}
